# Backend Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/venv/
backend/env/
backend/.env
backend/build/
backend/develop-eggs/
backend/dist/
backend/downloads/
backend/eggs/
backend/.eggs/
backend/lib/
backend/lib64/
backend/parts/
backend/sdist/
backend/var/
backend/*.egg-info/
backend/.installed.cfg
backend/*.egg
backend/.pytest_cache/
backend/.coverage
backend/htmlcov/
backend/uploads/*.pdf
backend/1.0.0
backend/1.11.0
backend/uploads/*